@import '../../../../resources/mixins';

.projectNewPage {
    &__changeProjectImageButton {
        width: 200px;
        border: rem(1) solid lightgray;
        padding-left: rem(15);
        padding-right: rem(15);
        padding-top: rem(5);
        padding-bottom: rem(5);
        border-radius: rem(3);
        text-align: center;
        background-color: #D1D8E0;
    }
}

.ant-calendar-picker-input.ant-input {
    height: 40px;
}

.ant-select-selection.ant-select-selection--single {
    height: 40px;
}

.ant-select-selection__rendered {
    height: 40px;
}

.ant-select-selection-selected-value {
    height: 40px;
    line-height: 40px;
}