@import '../../../../resources/mixins';

.dashboardPage {
    &__projectsContainer {
        background: lightgray;
        display: flex;
        flex-wrap: wrap;
    }
    &__projectsItem {
        width: 260px;
        background: white;
        padding: 30px;
        margin: 10px;
    }
    &__modalContainer {
        padding-left: rem(30);
        padding-right: rem(30);
        padding-top: rem(20);
    }
}

.ant-modal-content {
    width: 300px;
    margin-left: 110px;
    text-align: center;
}