@import '../../../../resources/mixins';

.clientPage {
    &__searchInputContainer {
        position: absolute;
        top: rem(16);
        right: rem(30);
    }
}

.reportPage {
    &__projectsContainer {
        background: lightgray;
        display: flex;
        flex-wrap: wrap;
    }
    &__projectsItem {
        width: 260px;
        background: white;
        padding: 30px;
        margin: 10px;
    }
}